.bedankt h1 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(50% - 175px);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #2b2b2b;
  font-family: "Sprat";
}
